/Gestor de procesos segunda propuesta/Round Robin/Aplicacion2610/Aplicacion2610/dist/
/Gestor de procesos segunda propuesta/SimuladorGP-Grupo2/build/
/Gestor de procesos segunda propuesta/SimuladorGP-Grupo2/dist/